absl-py==2.1.0
aeidon==1.15
aiodns==3.0.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.2
altair==5.4.0
argcomplete==3.3.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
blinker==1.7.0
blivet==3.10.0
blivet-gui==2.5.0
boto3==1.34.162
botocore==1.34.162
Brlapi==0.8.5
Brotli==1.1.0
buildbot==3.11.7
buildbot-badges==3.11.7
buildbot-console-view==3.11.7
buildbot-grid-view==3.11.7
buildbot-waterfall-view==3.11.7
buildbot-worker==3.11.7
buildbot-wsgi-dashboards==3.11.7
buildbot-www==3.11.7
cached-property==1.5.2
cachetools==5.5.0
cairocffi==1.6.1
CairoSVG==2.7.0
certifi==2022.12.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.0.12
cheroot==10.0.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
cloudscraper==1.2.71
comm==0.2.1
constantly==15.1.0
contourpy==1.2.0
croniter==1.4.1
cryptography==41.0.7
cssselect2==0.7.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.19.1
dbus-python==1.3.2
debtcollector==2.5.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnf==4.21.1
dnspython==2.2.1
docker==6.1.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docx==0.2.4
einops==0.8.0
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.1
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.14.0
fiona==1.9.6
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.50.0
fros==1.1
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
gast==0.5.4
geopandas==0.14.3
git-cola==4.6.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.62.1
h5py==3.10.0
huggingface-hub==0.23.4
humanize==3.13.1
hyperlink==21.0.0
IBMQuantumExperience==2.0.4
icmplib==3.0.4
idna==3.7
imbalanced-learn==0.12.2
imblearn==0.0
impacket==0.10.0
importlib-metadata==6.9.0
incremental==22.10.0
iniparse==0.5
iperf3==0.1.11
ipykernel==6.29.0
ipython==8.20.0
iso639==0.1.4
iso8601==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.functools==4.0.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.1.1
keyring==24.3.1
keystoneauth1==5.3.0
kiwisolver==1.4.5
klein==23.5.0
langtable==0.0.68
latexcodec==3.0.0
ldap3==2.9.1
ldapdomaindump==0.9.4
Levenshtein==0.23.0
libclang==18.1.1
libcomps==0.1.20
libdnf==0.73.3
libvirt-python==10.1.0
llvmlite==0.42.0
louis==3.28.0
lxml==5.1.0
Mako==1.2.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
maxminddb==2.5.2
mdurl==0.1.2
mercurial==6.7.4
ml-dtypes==0.3.2
monty==2024.4.17
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.5
multiprocess==0.70.16
namex==0.0.7
narwhals==1.4.2
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.10.1
netifaces==0.11.0
networkx==3.3
nftables==0.1
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
olefile==0.47
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
os-service-types==1.7.0
oslo.i18n==6.1.0
oslo.serialization==5.2.0
oslo.utils==6.2.1
packaging==23.2
palettable==3.3.3
pandas==2.2.1
paramiko==3.4.0
parso==0.8.3
Paste==3.7.1
patsy==0.5.6
pbr==5.11.1
pexpect==4.9.0
phply==1.2.5
pid==2.2.3
pillow==10.3.0
platformdirs==4.2.0
plotly==5.22.0
ply==3.11
polib==1.2.0
prettytable==3.10.0
productmd==1.38
prompt-toolkit==3.0.43
protobuf==4.25.3
proton-core==0.2.0
proton-keyring-linux==0.0.2
proton-keyring-linux-secretservice==0.0.2
proton-vpn-api-core==0.30.0
proton-vpn-gtk-app==4.4.3
proton-vpn-killswitch-network-manager==0.5.0
proton-vpn-killswitch-network-manager-wireguard==0.1.0
proton-vpn-logger==0.2.1
proton-vpn-network-manager==0.5.2
proton-vpn-network-manager-openvpn==0.1.0
proton-vpn-network-manager-wireguard==0.1.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyaml==24.4.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.3.0
pybtex==0.24.0
pycairo==1.25.1
pycares==4.3.0
pycountry==24.6.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.20.0
pycups==2.0.4
pycurl==7.45.2
pydeck==0.9.1
pyenchant==3.2.2
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.6.0
pykickstart==3.52
pymatgen==2024.5.1
PyNaCl==1.5.0
pyopencl==2024.1
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-QScintilla==2.13.4
PyQt6-sip==13.6.0
PyRoxy @ git+https://github.com/MatrixTM/PyRoxy.git@ea0f88dbc0573292ba5672124f69e4e7a31b544d
PySocks==1.7.1
pyspnego==0.10.2
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-gnupg==0.5.0
python-meh==0.51
python-novaclient==18.4.0
python-pam==2.0.2
pythondialog==3.5.3
pytools==2023.1.1
pytz==2024.1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.2
qiskit==1.0.2
QtPy==2.4.1
ranger-fm==1.9.3
rapidfuzz==3.5.2
referencing==0.31.1
regex==2024.4.16
requests==2.27.1
requests-file==2.0.0
requests-ftp==0.3.1
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.18.1
rpm==4.19.1.1
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.7
rustworkx==0.14.2
s3transfer==0.10.2
safetensors==0.4.3
scapy==2.5.0
scikit-learn==1.4.1.post1
scikit-optimize==0.10.1
scipy==1.12.0
seaborn==0.13.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.6/src
sentry-sdk==2.11.0
sepolicy @ file:///builddir/build/BUILD/selinux-3.6/python/sepolicy
service-identity==23.1.0
setools==4.5.1
setuptools==69.1.1
shap==0.45.0
shapely==2.0.3
shtab==1.6.1
simpleaudio==1.0.4
simplejson==3.19.2
simpleline==1.9.0
six==1.16.0
slicer==0.0.7
smmap==5.0.1
sos==4.7.2
soupsieve==2.5
spglib==2.4.0
SQLAlchemy==2.0.32
stack-data==0.6.3
statsmodels==0.14.1
stevedore==5.1.0
streamlit==1.37.1
symengine==0.11.0
sympy==1.12
systemd-python==235
tabulate==0.9.0
Tempita==0.5.2
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
texttable==1.6.7
tf==1.0.0
threadpoolctl==3.3.0
timm==1.0.7
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
torch==2.3.1
torchvision==0.18.1
tornado==6.4
tortoisehg==6.6.3
tqdm==4.66.2
traitlets==5.14.1
transformers==4.42.3
translate-toolkit==3.12.2
Tubes==0.2.0
Twisted==23.10.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
uncertainties==3.1.7
unidiff==0.7.5
urllib3==1.26.19
vobject==0.9.6.1
watchdog==4.0.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==3.0.1
wheel==0.43.0
wrapt==1.16.0
xgboost==2.0.3
xkbregistry==0.3
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
zombie-imp==0.0.2
zope.interface==6.0
